@model CSharp_ASPNET_MVC_CRUD_SQL.Models.Modules

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutServices.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Modules</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_module }) |
    @Html.ActionLink("Back to List", "Index")
</p>
